USE [QuanLyTraSua]
GO
/****** Object:  Table [dbo].[MonChinh]    Script Date: 5/13/2026 3:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonChinh](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[Gia] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/13/2026 3:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonChinh] ON 

INSERT [dbo].[MonChinh] ([MaMon], [TenMon], [Gia]) VALUES (4, N'tra da', CAST(21.00 AS Decimal(10, 2)))
INSERT [dbo].[MonChinh] ([MaMon], [TenMon], [Gia]) VALUES (9, N'tra da', CAST(21.00 AS Decimal(10, 2)))
INSERT [dbo].[MonChinh] ([MaMon], [TenMon], [Gia]) VALUES (10, N'tra da', CAST(21.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MonChinh] OFF
GO
INSERT [dbo].[users] ([username], [password], [full_name], [role]) VALUES (N'admin', N'2006', N'Vũ Nhất Duy', N'admin')
INSERT [dbo].[users] ([username], [password], [full_name], [role]) VALUES (N'duya', N'123', N'duya', N'user')
INSERT [dbo].[users] ([username], [password], [full_name], [role]) VALUES (N'duyb', N'123456', N'duyb', N'user')
GO
